<li>
	<p>{{burger_name}} 	<button class="change-state" data-id="{{id}}" data-new="{{eaten}}">
        {{#if eaten}}YUM YUM!{{/if}}
	</button>

	<button class="delete" data-id="{{this.id}}">DELETE!</button></p>


</li>
